<%- include('../includes/head') %>
<div class="container mx-auto">
  <% if (errorMessage) {%>
  <div
    class="alert alert-danger"
    role="alert"
    style="text-align: center; margin-top: 6px;"
  >
    <%= errorMessage %>
  </div>
  <%}%>
  <form action="/login" method="POST" class="form-inlin justify-content-center">
    <div class="form-row justify-content-center">
      <div class="form-group col-md-4">
        <label for="email">E-mail</label>
        <input
          type="text"
          class="form-control <%= validationErrors.find(e => e.param === 'email') ? 'border border-danger' : '' %>"
          name="email"
          id="email"
          value="<%= oldInput.email %>"
        />
      </div>
    </div>

    <div class="form-row justify-content-center">
      <div class="form-group col-md-4">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control <%= validationErrors.find(e => e.param === 'password') ? 'border border-danger' : '' %>"
          name="password"
          id="password"
          value="<%= oldInput.password %>"
        />
      </div>
    </div>

    <div class="form-row justify-content-center">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button type="submit" class="btn btn-primary">
        Login
      </button>
    </div>
  </form>
  <div class="text-center mt-3">
    <a href="/reset">Reset password</a>
  </div>
</div>

<%- include('../includes/end') %>
