<%- include('../includes/head') %>
<div class="container-fluid">
  <div class="card-deck">
    <% if (prods.length !== 0) {%> <% for (let product of prods) {%>
    <div class="col-sm-4 py-3">
      <div class="card w-100 mx-auto h-100">
        <div class="embed-responsive embed-responsive-16by9">
          <img
            class="card-img-top embed-responsive-item"
            src="<%= product.imageUrl %>"
            alt="Card image cap"
          />
        </div>
        <div class="card-body w-100">
          <h5 class="card-title"><%= product.title %></h5>
          <h5 class="card-title"><%= product.price %></h5>
          <p class="card-text "><%= product.description %></p>
        </div>
        <div class="card-footer" style="background-color:transparent;">
          <a
            href="/products/<%= product._id %>"
            class="btn btn-primary btn-lg btn-block my-2"
            >Details</a
          >
          <% if (isAuthenticated) { %> <%-include('../includes/add-to-cart.ejs',
          {product:product}) %> <% } %>
        </div>
      </div>
    </div>
    <% }%> <% } else {%>
    <h1>No Products Available</h1>
    <% } %>
  </div>
</div>
<%- include('../includes/end') %>
